html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #000000;
}


.container{
}

h1{
  color: white;
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dog{
  background-color: white;
  height: 500px;
  width: 60%;
  margin: auto;
  text-align: center;


}
.dog_holder{
  position: relative;
  top: 300px;
  right: 150px;
  animation: spin 4s infinite;
}

@keyframes spin {
  0%{top: 300px; right:150px; }
  25%{top: 100px; right: 150px;}
  50%{top: 100px; right: 100px;}
  75%{top: 50px; right:100px;}
  100%{top:300px; right: 150px;}
}